absl-py==2.1.0
acme==1.21.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
anaconda==0.0.1.1
annotated-types==0.7.0
anyio==4.3.0
appdirs==1.4.4
arrow==1.3.0
async-lru==2.0.4
async-timeout==5.0.1
attrs==23.2.0
autoattack @ git+https://github.com/fra31/auto-attack.git@a39220048b3c9f2cca9a4d3a54604793c68eca7e
Automat==20.2.0
axial-positional-embedding==0.2.1
azure-core==1.33.0
azure-storage-blob==12.25.1
Babel==2.14.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
blinker==1.4
blis==0.7.11
cached-property==1.5.2
cachetools==5.5.2
catalogue==2.0.10
certbot==1.21.0
certifi==2020.6.20
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.3.2
click==8.0.3
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cloud-init==23.3.3
cloudpathlib==0.16.0
colorama==0.4.4
CoLT5-attention==0.11.1
comm==0.2.2
command-not-found==0.3
confection==0.1.4
ConfigArgParse==1.5.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.2.1
cryptography==3.4.8
cycler==0.12.1
cymem==2.0.8
dbus-python==1.2.18
debugpy==1.8.1
defusedxml==0.7.1
Deprecated==1.2.18
diskcache==5.6.3
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==5.0.3
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
einops==0.8.0
exceptiongroup==1.2.1
fail2ban==0.11.2
faiss-cpu==1.10.0
fastai==2.7.15
fastcore==1.5.38
fastdownload==0.0.7
fastjsonschema==2.19.1
fastprogress==1.0.3
filelock==3.6.0
fonttools==4.51.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.3.1
ftfy==6.3.1
future==0.18.2
GDAL==3.4.1
gdown==5.1.0
geotorch==0.3.0
gh==0.0.4
gitdb==4.0.11
GitPython==3.1.43
Glances==3.2.4.2
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.40.1
google-auth-httplib2==0.2.0
googleapis-common-protos==1.70.0
greenlet==3.1.1
grpcio==1.64.0
gyp==0.1
h11==0.14.0
hartigan-kmeans==0.0.6
homebrew==0.0.0.1
httpcore==1.0.5
httplib2==0.20.2
httpx==0.27.0
huggingface-hub==0.27.0
hyperlink==21.0.0
idna==3.3
imageio==2.34.1
imgaug==0.4.0
importlib-metadata==4.6.4
incremental==21.3.0
iotop==0.6
ipykernel==6.29.4
ipywidgets==8.1.2
isodate==0.7.2
isoduration==20.11.0
jeepney==0.7.1
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
josepy==1.10.0
json5==0.9.25
jsonlines==4.0.0
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
keyring==23.5.0
kiwisolver==1.4.5
lamini==3.2.22
lamini-configuration==0.8.3
langcodes==3.4.0
language_data==1.2.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
llama_cpp_python==0.3.8
local-attention==1.9.15
Mako==1.1.3
marisa-trie==1.1.1
Markdown==3.3.6
MarkupSafe==2.1.5
matplotlib==3.8.4
mistune==3.0.2
mlnx-tools===-5.8.0-
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.3.2
murmurhash==1.0.10
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
netifaces==0.11.0
networkx==3.2.1
notebook_shim==0.2.4
numexpr==2.10.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.1.105
nvsm==23.6.4
nvsm-dshm==23.6.4
nvsm-health==23.6.4
nvsm-sdk==1.0.0
oauth2client==4.1.3
oauthlib==3.2.0
open_clip_torch==2.32.0
openai==1.71.0
opencv-python==4.9.0.80
overrides==7.7.0
packaging==24.0
paho-mqtt==1.5.1
pandas==2.2.2
parsedatetime==2.6
patool==3.0.3
pexpect==4.8.0
pillow==10.2.0
platformdirs==2.5.1
preshed==3.0.9
product_key_memory==0.2.11
prompt-toolkit==3.0.43
propcache==0.3.1
proto-plus==1.26.1
protobuf==4.25.3
psutil==5.9.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.7.1
pydantic_core==2.18.2
PyDrive2==1.21.3
PyGithub==2.6.1
Pygments==2.11.2
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.10.1
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
PySocks==1.7.1
python-apt==2.4.0+ubuntu2
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-distutils-extra==2.39
python-dotenv==0.19.2
python-json-logger==2.0.7
python-magic==0.4.24
pytz==2022.1
PyYAML==6.0.2
pyzmq==26.0.2
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.35.0
reformer-pytorch==1.4.4
regex==2024.11.6
requests==2.31.0
requests-toolbelt==0.9.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
robustbench @ git+https://github.com/RobustBench/robustbench.git@78fcc9e48a07a861268f295a777b975f25155964
rpds-py==0.18.0
rsa==4.9.1
s-tui==1.1.3
safetensors==0.5.0
scikit-base==0.11.0
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.13.0
SecretStorage==3.3.1
Send2Trash==1.8.3
sentry-sdk==1.44.0
service-identity==18.1.0
setproctitle==1.3.3
shapely==2.0.4
six==1.16.0
sktime==0.34.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
sos==4.5.6
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.40
sqlglot==26.12.1
srsly==2.4.8
ssh-import-id==5.11
sympy==1.12
systemd-python==234
tables==3.7.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
terminaltables==3.1.10
texttable==1.6.4
thinc==8.2.3
threadpoolctl==3.5.0
tifffile==2024.5.22
timm==1.0.12
tinycss2==1.3.0
tomli==2.0.1
torch==2.2.2
torchdiffeq==0.2.5
torchgeometry==0.1.2
torchsummary==1.5.1
torchvision==0.17.2
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
triton==2.2.0
Twisted==22.1.0
typer==0.9.4
types-python-dateutil==2.9.0.20240316
typing_extensions==4.13.1
tzdata==2024.1
ubuntu-advantage-tools==8001
ufw==0.36.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.1
urwid==2.1.2
virtualenv==20.13.0+ds
vit-pytorch==0.40.2
wadllib==1.3.6
Wand==0.6.13
wandb==0.16.5
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
webcolors==1.13
websocket-client==1.8.0
Werkzeug==3.0.3
widgetsnbextension==4.0.10
wrapt==1.17.2
yarl==1.19.0
zipp==1.0.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.4.0
